/.idea/.gitignore
/stackAndDump/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/a.exe
/stackAndDump/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/a.exe
/stackAndDump/cmake-build-debug/build.ninja
/stackAndDump/cmake-build-debug/.cmake/api/v1/query/cache-v2
/stackAndDump/cmake-build-debug/.cmake/api/v1/reply/cache-v2-2d95127bd434ed64c34f.json
/stackAndDump/cmake-build-debug/CMakeFiles/clion-environment.txt
/stackAndDump/cmake-build-debug/CMakeFiles/clion-log.txt
/stackAndDump/cmake-build-debug/CMakeFiles/cmake.check_cache
/stackAndDump/cmake-build-debug/cmake_install.cmake
/stackAndDump/cmake-build-debug/CMakeCache.txt
/stackAndDump/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/stackAndDump/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/stackAndDump/cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
/stackAndDump/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/stackAndDump/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/stackAndDump/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
/stackAndDump/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/stackAndDump/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-992c113af37825c71e30.json
/stackAndDump/cmake-build-debug/CMakeFiles/CMakeOutput.log
/stackAndDump/cmake-build-debug/CMakeFiles/3.22.3/CMakeRCCompiler.cmake
/stackAndDump/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/stackAndDump/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/stackAndDump/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-56643e24ca4db8607199.json
/.idea/cppSeries.iml
/stackAndDump/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/stackAndDump/cmake-build-debug/.cmake/api/v1/reply/index-2022-05-29T20-55-18-0214.json
/stackAndDump/cmake-build-debug/Testing/Temporary/LastTest.log
/.idea/misc.xml
/.idea/modules.xml
/stackAndDump/cmake-build-debug/CMakeFiles/rules.ninja
/stackAndDump/cmake-build-debug/.cmake/api/v1/reply/target-stackAndDump-Debug-a415e0d45590fc4331f8.json
/stackAndDump/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/stackAndDump/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/stackAndDump/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ca5fa0a180ed02c46d2b.json
/.idea/vcs.xml
